.parent{
  display: flex;
  justify-content: center;
  background-color:whitesmoke;

}
.child{
  width:20%;
  border: 1px solid #ddd;
  padding: 1%;
  margin:1%;
  box-shadow:0px 8px 8px -8px rgb(182, 90, 167);
  text-align:center;
  background-color:gray;
  font-family: cursive;
}
.child img{
  width: 50%;

}
.link{
  text-decoration: none;
}
.btn{
  background: gray;
  color:#fff;
  padding: 1%;
  text-decoration: none;
  display: block;
}
.child2{
text-align:left;
border:1px solid #ddd;
background-color: rosybrown;
width:75%;
padding:1%;
margin: 1%;
box-shadow: palevioletred;
background-color: blanchedalmond;
}
.child1{
text-align: left;
border:1px solid #ddd;
height:40%;
box-shadow:black;
width:20%;
padding:1%;
margin: 1%;
background-color: white;
}
.child1 img{
  width: 50%;
}
.skills{
  margin:0.5%;
  padding:0.5%;
  color:#000;
  border-radius: 10px;
  background-color:rgb(175, 128, 185)  ;
  box-shadow: 0px 8px 8px -8px;
}